<div class="container v-height">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <h1>Edit a Cocktail</h1>
            <%= render "shared/form-cocktail-edit"%>
        </div>
    </div>
</div>