<footer>
	<p>Made for cocktail lovers!</p>
	<a href="https://github.com/MariaBraganca" target="_blank"><i class="fab fa-github"></i></a>
	<a href="https://www.linkedin.com/in/mariabraganca" target="_blank"><i class="fab fa-linkedin"></i></a>
</footer>