/* Buttons User Actions */
.btn-search,
.btn-add,
.btn-filter,
.btn-edit {
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}
.btn-search {
    background-color: $max-blue-green;
}
.btn-add {
    background-color: $fiery-rose;
}
.btn-filter {
    background-color: $blue-violet;
}
.btn-edit {
    background-color: $maise-crayola;
}
/* Buttons User Actions on Hover */
.btn-search:hover,
.btn-add:hover,
.btn-filter:hover,
.btn-edit:hover {
    color: white;
}
.btn-search:hover {
    background-color: darken($max-blue-green, 15%);
}
.btn-add:hover {
    background-color: darken($fiery-rose, 15%);
}
.btn-filter:hover {
    background-color: darken($blue-violet, 15%);
}
.btn-edit:hover {
    background-color: darken($maise-crayola, 15%);
}
.btn-fix {
    position: sticky;
    bottom: 0;
}
/* Dropdown Menu */
.cocktail-drop {
    max-height: 485px;
    min-width: 275px;
    overflow-y: auto;
    padding: 15px 30px;
}
.cocktail-drop label {
    padding-bottom: 5px;
}
.cocktail-drop legend {
    display: none;
}
/* Button delete Doses*/
#bin:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }