.btn-search {
    background-color: $max-blue-green;
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-add {
    background-color: $fiery-rose;
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-filter {
    background-color: $blue-violet;
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-dose {
    background-color: $aero-blue;
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-edit {
    background-color: $maise-crayola;
    color: white;
    transition: background 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-search:hover,
.btn-add:hover,
.btn-filter:hover,
.btn-dose:hover,
.btn-edit:hover {
    color: white;
}
.btn-search:hover {
    background-color: darken($max-blue-green, 15%);
}
.btn-add:hover {
    background-color: darken($fiery-rose, 15%);
}
.btn-filter:hover {
    background-color: darken($blue-violet, 15%);
}
.btn-dose:hover {
    background-color: darken($aero-blue, 15%);
}
.btn-edit:hover {
    background-color: darken($maise-crayola, 15%);
}

.btn-outline-add {
    border: 1px solid hsl(283, 100%, 80%);
    color:hsl(283, 100%, 80%);
    font-family: 'Josefin Sans', sans-serif;
    transition: background 0.3s ease;
}

.btn-outline-add:hover {
    color: hsl(283, 100%, 75%);
    border: 1px solid hsl(283, 100%, 75%);
}

.cocktail-drop {
    max-height: 600px;
    min-width: 275px;
    overflow-y: scroll;
    padding: 15px 30px;
}

.cocktail-drop label {
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.cocktail-drop legend {
    display: none;
}

#file-upload-button {
    background-color: red;
}