.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba($color: white, $alpha: 0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}